{#
/**
 * @file
 * Promo Box template.
 */
#}
{# File link mmc 4.12.19#}
<div{{ attributes.addClass('clearfix', 'promo_box_wrapper') }}>
    {{ title_suffix.contextual_links }} 
        {# int/ext link and open in new window decision #}
        <a href="{{ node.field_promo_p_link.entity.field_internal_or_external_link.0.url }}" {{ node.field_promo_p_link.entity.field_open_in_new_window.value ? 'target="_blank"':'' }}>
        <span class="promo_text">{{ content.field_promo_box_promo_text }}</span>
        {# link text #}
        <div class="promo_btn">{{ node.field_promo_p_link.entity.field_link_text.0.value}}</div>
        {# File link mmc 4.12.19 #}
        {# {{ file_url(node.field_promo_p_link.entity.field_file_link.entity.field_document.entity.uri.value) }} #}
    </a> 
</div>
