{% if wrapper == 'section' %}
<section id="Sect-{{ par_id }}" class="section{% if class %} {{ class }}{% endif %}">
  <div>
    <div class="card">
{% else %}
    <div class="card{% if class %} {{ class }}{% endif %}">
{% endif %}
        {% if image %}
          {% if button.url %}
          <a href="{{ button.url }}">
              {{ image }}
          </a>
          {% elseif title_link %}
          <a href="{{ title_link }}">
              {{ image }}
          </a>
          {% else %}
          {{ image }}
          {% endif %}
        {% endif %}
        <div>
          {% if tag %}
            <div class="type">{{ tag }}</div>
          {% endif %}
          {% if icon %}
              <span class="{{ icon }}"></span>
          {% endif %}
            <div class="title">
          {% if title %}
              <h3>{% if title_link %}<a href="{{ title_link }}">{% endif %}{{ title }}{% if title_link %}</a>{% endif %}</h3>
          {% endif %}
          {% if subtitle %}
              <div class="subtitle h4">{{ subtitle }}</div>
          {% endif %}
            </div>
          {% if body %}
            <div class="body">
              {{ body }}
            </div>
          {% endif %}
          {% if button.url %}
            {% include '@cu2019_grad/components/button.html.twig' with {
              'class': (button.class) ? button.class : 'btn-primary',
              'url': button.url,
              'title': button.title,
              'arrow': 'arrow icon icon-right',
              'arrowPosition': 'after'
            } %}
          {% endif %}
        </div>
    </div>
{% if wrapper %}
  </div>
</section>
{% endif %}
