<blockquote {% if class %}class="{{ class }}"{% endif %}>
  <div>
    <div class="quote">
      {% if quote %}
        {{ quote }}
      {% endif %}
      <div class="attr">
        {% if name %}
            {{ name }}
        {% endif %}
        {% if title %}
            <span>, </span>{{ title }}
        {% endif %}
        {% if area %}
            <br>
            <small>{{ area }}</small>
        {% endif %}
      </div>
    </div>
    {% if img %}
        {{ img }}
    {% endif %}
  </div>
</blockquote>
