{# mmc 4.15.19 #}

{# link text #}
{# {{ _context.row._relationship_entities['field_news_spotlight_p_link'].field_link_text.value }}  #}

{# set up variables for theme #}
{# set href and node_url to same value, node_url if we want the learn more and news headline links to be different at some point #}
{% set href, node_url = fields.view_node.content,fields.view_node.content %}
{# set target #}
{% set target = _context.row._relationship_entities['field_news_spotlight_p_link'].field_open_in_new_window.value ? '_blank':'' %}
{# if paragraph link set href to link url #}
{% if _context.row._relationship_entities['field_news_spotlight_p_link'].field_internal_or_external_link.0.url is not empty %}
    {% set href = _context.row._relationship_entities['field_news_spotlight_p_link'].field_internal_or_external_link.0.url %}
{% endif %}
{# if file set href to files path and open in new page #}
{% if _context.row._relationship_entities['field_news_spotlight_p_link'].field_file_link.entity.field_document.entity.uri.value is not empty  %}
    {% set target = '_blank' %}
    {% set href = file_url(_context.row._relationship_entities['field_news_spotlight_p_link'].field_file_link.entity.field_document.entity.uri.value) %}
{% endif %}

<div class="news_image">
    {{fields.field_content_page_image.content}}
</div>
<div class="news_text">
    <div class="news_headline">
            <div class="links_wrapper">
                <a href="{{ href|render }}" target={{ target }}><h2>{{ fields.field_content_page_headline.content }}</h2> </a> 
            </div>
    </div>
   
    <p class="date">{{ fields.created.content }}</p>
    <div class="summary">{{ fields.body.content }}</div>
    <div class="learn_more_link">
        <a href="{{ href|render }}" target={{ target }}>Learn More </a><span class="hidden">: {{ fields.field_content_page_headline.content }}</span> 
    </div>
</div>
